h1 {
    color: blueviolet;
    text-align: center;
}

ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

form li + li {
    margin-top: 1em;

}

label {
    width: 90px;
}

input, 
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}


textarea {
    vertical-align: top;
    height: 8em;
}

button {
    margin-left: 1em;
    margin-top: 1em;
    padding: .5em;
    
}

h2 {
    text-align: center;
    color: cadetblue;
}

#form {
    text-align: center;
}

label {
    display: inline-block;
}