h1 {
    text-align: center;
}

.nav {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background: #191919;
    
}

.nav a {
   color: white;
   padding: 7px;
   transition: 0.25s;
   text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box img {
    width: 40%;
    height: auto; 
    margin-bottom: 10px;  
}

.box {
    width: 250px;
    height: auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #373737;
    text-align: center;
    border: 2px solid#3498db;
    border-radius: 24px;
    transition: 0.25s;
    overflow: auto;
}

.box p {
    color: white;
}
    
.box a {
    color: white;
    font-weight: 500;
}

.box h1 {
    color: white;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"] {
    border: 0;
    background: none;
    display: inline-block;
    margin: 25px, auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
    width: 220px;
    border-color: #2ecc71;
}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: inline-block;
    margin: 25px, auto;
    margin-top: 8px;
    margin-bottom: 40px;
    text-align: center;
    border: 2px solid #3498db;
    width: 125px;
    height: 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background: #2ecc71;
}