h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    text-align: center;
    color: cadetblue;
}


ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

form li + li {
    margin-top: 1em;

}

label {
    width: 90px;
}

input, 
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-right: .5em;
}


textarea {
    vertical-align: top;
    height: 8em;
}

button {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
}

.forms form {
    text-align: center;
    padding-top: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid cadetblue;
}

label {
    display: inline-block;
}

.nav {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}